# Copyright (C) 2020 - Dreemurrs Embedded Labs
#
# These services are disabled due to them being unnecessary critical process
# and crash loop.

service vendor.fps_hal android.hardware.biometrics.fingerprint@2.1-service_HYBRIS_DISABLED
    disabled
    oneshot
    override

service cnss_diag cnss_diag_HYBRIS_DISABLED
    disabled
    oneshot
    override
